/* RESET CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html{
    font-size: 62.5%; /* 16 * 62.5 = 1.000*/
}

*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font: 1.6rem "Open Sans",sans-serif;
    line-height: 1.6;
    letter-spacing: .1rem;
    min-height: 100svh;
    background-color: var(--bg-color);
    color: #fff;
    margin: 0;
}
h1,h2,h3,p,figure,ol,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none; /* enleve le soulignement */
    color: #222;
}
button{
    padding: 0;
    background-color: transparent; /* enleve toutes les propriétés par defeaut */
    border: 0;
    font-size: inherit;
}
/* theme css */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* titre à gauche et menu à droite */
    align-items: center;
    background-color: #222;
    line-height: 8rem;
    padding: 0 1rem;
}
header h1{
    text-transform: uppercase;
    font-weight: 400;
    
}
/* menu nav ul */
:root{
    --bg-color: #2b2a33;
    --input-bgcolor: #42414d;
    --input-bgcolor-light: #7e7e80;
    --button-theme-alert: #dd0e62;
    --button-theme-primary: rgba(9, 132, 227,1.0);
    --button-theme-info: rgba(108, 92, 231,1.0);

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 1rem;
    align-items: center;
  

}
nav ul li{
    width: 15rem;
    background-color: var(--input-bgcolor);
    line-height: 4.5rem;
    border-radius: .4rem;
    transition: all .6s ease-in-out;
}
nav ul li:hover{
    background-color: #ccc;
    color: #222;
}
nav ul li a{
    display: block;
    text-align: center;
    color: inherit;
    text-transform: uppercase;
}

main{
  /* modifier les propriétés */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

}
article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: calc(100% / 3 - 2rem); /* eviter les données fixes */
    flex-wrap: wrap;
    background-color: var(--input-bgcolor);
    padding: 2rem;
    border-radius: 2rem;
    border: solid .4rem var(--input-bgcolor-light);
    aspect-ratio: 16 / 9;
    
    

}
article p{
    margin-bottom: 2rem;
}
article h2{
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}
.button-default{
   color: #222;
    background-color: #ccc;
    width: max-content;
    text-align: center;
    line-height: 3.5rem;    
    padding: 0 2rem;
    border-radius: .4rem;
    cursor: pointer;
}
.button-theme-alert{
    background: var(--button-theme-alert);
    color: #fff;
}
.button-theme-primary{
    background-color: var(--button-theme-primary);
    color: #fff;
}
.button-theme-info{
    background-color: var(--button-theme-info);
    color: #fff;
}

figure{
    display: flex;
    align-items: center;
    width: 40rem;
    margin: 5rem auto;
}
figure h2{
    font-size: xx-large;
    font-weight: 500;

}
figure img{
    display: inline-block;
    width: 50%;
    height: 60%;
    object-fit: cover;
    vertical-align: middle;
    filter: drop-shadow(0 0 1rem #e82f8c);
    filter: grayscale(50%);
}
footer *{
    text-align: center;
}